body {
  text-align: center;
  background-color: #282a36;
}
h1 {
  color: #f48db4;
  font-family: "Caprasimo", serif;
}

h3 {
  font-family: "Caprasimo", serif;
  color: #fafafa;
}
h4,
h5,
p {
  font-family: "Raleway", sans-serif;
}
h4 {
  color: #fafafa;
  text-align: justify;
  font-size: 25px;
  margin-left: 40px;
}
.highlighted-words {
  transition: color 0.3s ease, filter 0.3s ease;
}
.highlighted-words:hover {
  color: #fcff82;
  filter: drop-shadow(0 0 0.25rem white);
}
/*FIRST PANEL*/
.first-panel {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #f48db4;
}
.profile-pic {
  margin-top: 20px;
  border-radius: 90px;
  width: auto;
  margin-left: 70px;
 
  filter: drop-shadow(0 0 0.25rem white);
}
.intro {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
}

.first-panel h1 {
  font-size: 40px;
}
.first-panel h4 {
  text-align: left;
  margin-top: 60px;
  margin-left: 30px;
  font-size: 20px;
}
/*SECOND PANEL - TECHNOLOGIES*/
.second-panel {
  color: black;
  margin-bottom: 40px;
}
.second-panel h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.second-panel img {
  border-radius: 45px;
  margin-top: 15px;
  filter: drop-shadow(0 0 0.25rem white);
  width: 500px;
}
.all-skills {
  white-space: nowrap; /* Prevents line breaks within the container */
}

.skill {
  display: inline-block; /* Displays the skills in the same line */
  margin-right: 10px; /* Optional: Adds spacing between skills */
  transition: transform 0.3s ease;
}
.skill:hover {
  color: #fcff82;
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75rem #dddddd);
}
/*THIRD PANEL - PROJECTS*/
.third-panel h1 {
  font-size: 40px;
  color: #f48db4;
  margin-bottom: 20px;
}
.third-panel {
  padding-top: 40px;
  padding-bottom: 60px;
}
.all-projects {
  display: flex;
  justify-content: space-around; /* Center the projects horizontally and provide space between them */
  flex-wrap: wrap; /* Allow projects to wrap to the next line if the container is not wide enough */
}
.homepage-project {
  color: black;

  filter: drop-shadow(0 0 0.75rem #dddddd);
  border-radius: 70px 0px 70px 0px;

  margin-top: 40px;
  margin-bottom: 10px;
  padding: 15px 10px;
  background-color: white;
  transition: transform 0.3s ease;
  width: 20%;
  padding: 20px 32px;
  display: flex;
  justify-content: center;
  flex: 0 1 calc(30% - 20px);
}
.homepage-project:hover {
  transform: scale(1.1); /* Scale the image by 1.1 times when hovered */
}
.inside-card {
  display: flex;
}

.third-panel a {
  color: #213547;
  text-decoration: none;
}
.third-panel h3 {
  color: black;
}
.inside-card h5 {
  display: flex;
  text-align: justify;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.project-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
#button-left {
  border: 1px solid #282a36;
  background-color: #282a36;
  border-radius: 20px;
  color: #f48db4;
  padding: 10px 15px;
  cursor: pointer;
  transition: filter 0.3s ease;
}
#button-left:hover {
  filter: drop-shadow(0 0 0.75rem #fcff82);
}
#button-right {
  border: 1px solid #f48db4;
  border-radius: 20px;
  background-color: #f48db4;
  color: #282a36;
  padding: 10px 15px;
  cursor: pointer;
  transition: filter 0.3s ease;
}
#button-right:hover {
  filter: drop-shadow(0 0 0.75rem #fcff82);
}
/*FOURTH PANEL - CONTACTS*/
.fourth-panel h1 {
  font-size: 40px;
}

.fourth-panel {
  padding-top: 40px;

  padding-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: white;
  color: black;
  border: 2px solid #d6cdc8;
  border-radius: 100px;
  filter: drop-shadow(0 0 0.25rem white);
}

.all-contacts {
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
}
.fourth-panel a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-size: 30px;
  margin-bottom: 20px;

  color: #54b3d6;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fourth-panel a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}

hr {
  width: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-top: 100px;
}
@media (max-width: 1200px) {
  .first-panel img {
    display: none;
  }
}
@media (max-width: 800px) {
  .first-panel {
    margin-left: 5px;
    margin-right: 5px;
  }
  .first-panel img {
    display: none;
  }
  .first-panel h4 {
    padding: 2px 10px;
    font-size: 20px;
    margin: 0 auto;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
  }
  .intro {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* .second-panel .all-skills {
    display: flex;
    flex-direction: column;
  } */
  .skill-list {
    display: flex;
    flex-direction: column;
  }
  .second-panel img {
    display: none;
  }
  .all-skills {
    flex-direction: column;
  }
  .third-panel .all-projects {
    flex-direction: column;
    align-items: center;
  }
  .third-panel .homepage-project {
    width: 60%;
  }
  .fourth-panel a {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .fourth-panel {
    background-color: #282a36;
    filter: drop-shadow(0 0 0.25rem #282a36);
    border: 0px;
    padding-top: 5px;
    margin-top: 5px;
  }
  .fourth-panel h1 {
    font-size: 25px;
  }
  .fourth-panel a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    filter: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
  }
}
