nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content:right;
  
  
}
nav p {
  color: #282A36;
  
}
nav a {
  margin-right: 80px; /* Add a margin to create space between the links */text-decoration: none;
  font-weight: bold;
}